html, body{
  margin:0;
  padding:0;
}

.navbar{
  margin: 0;
}

.jumbotron{
  background: url("bg.png") no-repeat center center;
  background-size: cover;
  height:800px;
  width: 100%;
}

.main{
  text-align: center;
  margin-top: 180px;
}

.content {
  height: 300px;
  padding-top: 30px;
}
